.authorization{
  padding: 48px 0;
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
  &-header{
    display: grid;
    justify-content: center;
    gap: 24px;
    &_logo{
      margin: auto;
      background: url('../assets/img/logo.svg')
      center no-repeat;

      width: 186px;
      height: 128px;

      background-size: cover;
    }
    &_title{
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height, or 122% */

      text-align: center;

      color: #FFFFFF;

    }
    &_text{
      width: 512px;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      /* identical to box height, or 127% */

      text-align: center;

      color: #FFFFFF;

      &_link{
        color: #FFCA28;
        text-decoration-line: underline;
      }
    }
  }
  &-inputs{
    margin-top: 96px;
    display: grid;
    justify-content: center;
    gap: 48px;
    &-login{
      position: relative;
      display: flex;
      align-items: center;
      width: 448px;
      height: 60px;
      padding: 12px 24px;
      background: rgba(251,251,251, .1);


      &_label{
        position: absolute;
        top: -25%;
        padding: 2px 12px;
        background: #FFCA28;

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.1px;

        /* Primary/Primary 900 */

        color: #272727;
      }

      &_inp{
        width: 100%;
        background: none;
        border: none;

        outline: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        color: #fbfbfb;

      }
    }
    &-password{
      position: relative;
      display: flex;
      align-items: center;
      width: 448px;
      height: 60px;
      padding: 12px 24px;
      background: rgba(251,251,251, .1);


      &_label{
        position: absolute;
        top: -25%;
        padding: 2px 12px;
        background: #FFCA28;

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.1px;

        /* Primary/Primary 900 */

        color: #272727;
      }

      &_inp{
        width: 100%;
        background: none;
        border: none;

        outline: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        color: #fbfbfb;

      }
    }
  }
  &-save{
    display: flex;
    width: 448px;
    margin: 12px auto;

    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */

    text-align: center;

    /* Primary/Primary 500 */

    color: #A6A6A6;

    align-items: center;
    gap: 8px;
    &_checkbox{
      width: 24px;
      height: 24px;
      background: rgba(251, 251, 251, 0.08);
      display: flex;

      &_on{
        width: 16px;
        height: 16px;
        margin: auto;

        background: #FFCA28;
      }
    }
  }
  &-buttons{
    display: grid;
    justify-content: center;
    &_auth{
      margin-top: 24px;

      padding: 12px 96px;
      text-align: center;
      background: #FFCA28;

      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      /* identical to box height, or 127% */

      text-align: center;

      color: #000000;


      transition: opacity .15s linear;

      &:active{
        opacity: .75;
      }
    }
  }
  &-help{
    padding: 0 24px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    display: grid;
    gap: 24px;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 740px;

    &-recovery{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #A6A6A6;
      display: flex;
      justify-content: center;

      &_link{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 129% */

        text-align: center;
        text-decoration-line: underline;

        color: #FFFFFF;
      }
    }
    &-line{
      height: 2px;
      width: 100%;
      background: rgba(251,251,251,.1);
    }
    &-info{

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 133% */

      text-align: center;

      /* Primary/Primary 500 */

      color: #A6A6A6;
    }
  }
}