.registration{
  margin-top: 24px;
  width: 100%;
  &-header{
    display: grid;
    justify-content: center;
    &_logo{
      margin: auto;
      background: url('../assets/img/logo.svg')
      center no-repeat;

      width: 280px;
      height: 192px;

      background-size: cover;
    }
    &_title{
      margin-top: 24px;
      color: #fbfbfb;

      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height, or 122% */

      text-align: center;
    }

    &_text{
      width: 512px;
      margin-top:12px ;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      color: #FFFFFF;

      &_link{
        color: #FFCA28;
        text-decoration-line: underline;
      }
    }
  }
  &-inputs{
    margin-top: 64px;
    display: grid;
    justify-content: center;
    gap: 24px;
    &-login{
      display: flex;
      align-items: center;
      width: 512px;
      height: 60px;
      padding: 12px 24px 12px 24px;
      background: rgba(251,251,251, .1);

      border-radius: 4px;

      &_icon{
        width: 36px;
        height: 36px;

        background: url('../assets/icons/person.svg')
        no-repeat;
        background-size: cover;
      }

      &_inp{
        width: 100%;
        margin-left: 12px;
        background: none;
        border: none;

        outline: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        color: #fbfbfb;

      }
    }
    &-email{
      display: flex;
      align-items: center;
      width: 512px;
      height: 60px;
      padding: 12px 24px 12px 24px;
      background: rgba(251,251,251, .1);

      border-radius: 4px;

      &_icon{
        width: 36px;
        height: 36px;

        background: url('../assets/icons/email.svg')
        no-repeat;
        background-size: cover;
      }

      &_inp{
        width: 100%;
        margin-left: 12px;
        background: none;
        border: none;

        outline: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        color: #fbfbfb;

      }
    }
    &-password,
    &-accept-password{
      display: flex;
      align-items: center;
      width: 512px;
      height: 60px;
      padding: 12px 24px 12px 24px;
      background: rgba(251,251,251, .1);

      border-radius: 4px;

      &_icon{
        width: 36px;
        height: 36px;

        background: url('../assets/icons/lock_pass.svg')
        no-repeat;
        background-size: cover;
      }

      &_inp{
        width: 100%;
        margin-left: 12px;
        background: none;
        border: none;

        outline: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        color: #fbfbfb;

      }
    }
  }
  &-buttons{
    display: grid;
    justify-content: center;
    &_auth{
      margin-top: 48px;

      padding: 24px 151px;
      width: 511px;
      text-align: center;
      background: #FFCA28;

      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      color: #FBFBFB;

      border-radius: 4px;

      transition: opacity .15s linear;

      &:active{
        opacity: .75;
      }
    }
  }
  &-help{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    display: grid;
    width: 1000px;
    gap: 24px;
    justify-content: center;
    text-align: center;
    margin: auto;

    &-recovery{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #A6A6A6;
      display: flex;
      justify-content: center;

      &_link{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 129% */

        text-align: center;
        text-decoration-line: underline;

        color: #FFFFFF;
      }
    }
    &-line{
      height: 2px;
      width: 100%;
      background: rgba(251,251,251,.1);
    }
    &-info{

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 133% */

      text-align: center;

      /* Primary/Primary 500 */

      color: #A6A6A6;
    }
  }
}